In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/gbpusd.csv')

In [ ]:
# Make different frequency of tick data
df['group_id_50'] = df.index // 50
df['group_id_100'] = df.index // 100
df['group_id_500'] = df.index // 500
df['group_id_1000'] = df.index // 1000
df['mid_price'] = (df['bid'] + df['ask']) / 2

In [14]:
df.head()

,\ttimestamp\tbid\task,group_id_50,group_id_100,group_id_500,group_id_1000
0,0\t20190801 000014937\t1.21249\t1.2126,0,0,0,0
1,1\t20190801 000015038\t1.21249\t1.2126,0,0,0,0
2,2\t20190801 000020517\t1.21248\t1.21261,0,0,0,0
3,3\t20190801 000027213\t1.21248\t1.2126,0,0,0,0
4,4\t20190801 000031575\t1.21248\t1.2126,0,0,0,0